@font-face {
    font-family: roboto-regular;
    src: url(../Roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: roboto-extra-bold;
    src: url(../Roboto/Roboto-Bold.ttf)
}

@font-face {
    font-family: roboto-light-italic;
    src: url(../Roboto/Roboto-LightItalic.ttf)
}

body {
    font-family: roboto-regular, Verdana, Geneva, Tahoma, monospace;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* GENERAL RULES */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;   
}

a:hover {
    color: orchid;
}

/* CONTAINER RULES */
.header-container, 
.hero-container, 
.info-container, 
.quote-container, 
.signup-container,
.footer-container {
    display: flex;
    justify-content: center;
}

.header-content, 
.hero-content, 
.info-content, 
.quote-content, 
.signup-content,
.footer-content {
    box-sizing: border-box;
    padding: 20px;
    width: 800px;
    display: flex;
    flex-shrink: 0;
}

/* HEADER-SPECIFIC RULES */
.header-container, .hero-container {
    background-color: #1F2937;
    color: white;
}

.header-content {
    align-items: center;
    gap: 15px;
    padding-top: 15px;
}

.brand-name {
    display: flex;
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.header-content ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.header-content ul li,
.hero-secondary { /* note the Hero-specific addition here */
    color: #E5E7EB;
    font-size: 18px;
}

/* HERO-SPECIFIC RULES */
.hero-container {
    min-height: 400px;
    display: flex;
    align-items: center;
    /*border-style: solid;
    border-color: red;*/
}

.hero-content {
    height: 200px;
    padding-top: 15px;
    align-items: center;
    /*border-style: solid;
    border-color: aqua;*/
}

.hero-left {
    width: 50%;
    box-sizing: border-box;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 350px;
}

.hero-main {
    font-size: 48px;
    font-family: roboto-extra-bold;
    color: #F9FAF8;
}

.hero-button {
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 24px 8px 24px;
    align-self: flex-start;
}

.hero-button:active {
    background-color: #2f6aca;
}

.hero-image {
    box-sizing: border-box;
    width: 380px;
}

/* INFORMATION-SPECIFIC RULES */
.info-container {
    min-height: 375px;
    flex-grow: 1;
}

.info-content {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
}

.info-header {
    font-size: 36px;
    font-family: roboto-extra-bold;
    height: 3.25em;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.info-boxes {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.info-box {
    text-align: center;
    font-size: 16px;
    color: rgb(94, 94, 94);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.info-image {
    width: 150px;
    border-radius: 16px;
}

.box-image {
    box-sizing: border-box;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    border: 5px solid aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* QUOTE-SPECIFIC SECTION */
.quote-container {
    background-color: #E5E7EB;
}

.quote-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-box {
    width: 600px;
    margin: 5em 0 5em 0;
}

.quote {
    font-size: 36px;
    font-family: roboto-light-italic;
    color: #1F2937;
}

.quote-author {
    font-size: 16px;
    font-family: roboto-extra-bold;
    text-align: right;
}


/* FOOTER-SPECIFIC RULES */
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}